.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    padding: 50px;
    color: rgb(222, 40, 140);
    text-align: center;
    flex-direction: column; /* Ensures that text and buttons stack vertically */
}

span {
    font-size: 30px;
    color: blueviolet;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}